.thumbnail{
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.modal-sm {
    max-width: 400px !important;
}
#country_code{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    height: 30px;
    border: 0;
    margin: 0 0 15px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}
#phone_number{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}
#btnLogin{
    outline: 0;
    background: #5bc0de;
    width: 100%;
    border: 0;
    padding: 10px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}